.container {
  display: flex;
  flex:1;
  flex-direction: column;
  height:100vh;
}

.top,
.bottom,
.centerpiece {
    display: flex;
    justify-content: center;
}

.top,
.bottom,
.centerpiece {
  background:linear-gradient(#a37a1e,#d3a74c,#ffec95,#ffd87b,#b58f3e,#956d13);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
  text-align: center;
}

.top {
  margin-top: auto;
}

.bottom {
  margin-bottom: auto;
  padding-bottom: 23px;
}

.centerpiece {
  background-color: pink;
  font-size: 400px;
}
