.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.top,
.bottom {
  display: flex;
  flex: 1 0 auto;
  font-size: 115px;
}

.top {
  background-color: red;
}

.bottom {
  background-color: blue;
}

.centerpiece {
  background-color: pink;
  font-size: 400px;
}
