/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Sedgwick Ave Display', cursive;
  overflow: hidden;
  background-image: radial-gradient(rgb(80,80,80), rgb(60,60,60),rgb(44, 44, 44) );
}


@media screen and (max-width:600px){
  body {
    font-size: 40px;
  }
}

@media screen and (min-width:600px){
  body {
    font-size: 60px;
  }
}

@media screen and (min-width:768px){
  body {
    font-size: 80px;
  }
}


.balloon {
  height: 200px;
  width: 140px;
  border-radius: 75% 75% 70% 70%;
  position: absolute;
  font-size: 16px;
  z-index:-1;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 205px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 193px;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes float {
  from {transform: translateY(100vh);
  opacity: 1;}
  to {transform: translateY(-200vh);
  opacity: 0.5;}
}
