/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Sedgwick Ave Display', cursive;

  background-color: rgb(44, 44, 44);
}


@media screen and (max-width:600px){
  body {
    font-size: 75px;
  }
}

@media screen and (min-width:600px){
  body {
    font-size: 110px;
  }
}

@media screen and (min-width:768px){
  body {
    font-size: 150px;
  }
}
